*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.card-background{
    width: 250px;
    background-color: #fff;
    height: 45% ;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.card-background img{
    width: 100%;
    position: absolute;
    top: 0;
}

.card-background{
    position: relative;
}
.card img{
   width: 60px;
   height: 60px;
   object-fit: cover;
   border-radius: 50%;
   position: absolute;
   top: 16%;
   left: 7px;
   box-shadow: 2px 2px 5px rgba(213, 201, 201, 0.695);
   border: 3px solid hsla(180, 2%, 8%, 0.78);
}
p{
    font-size: 12px;
}
.spl-character{
    font-size: 12px;
}
.name-content{
    
    position: absolute;
    top: 118px;
    left: 10px;
}
h4{
    font-weight: 800;
}
.card-background a{
    position: absolute;
    right: 5px;
    border: 2px solid rgb(15, 133, 192);
    border-radius: 15px;
    padding: 2px 6px;
    top: 90px;
    font-weight: 900;
    font-size: .7rem;
}